body {
	margin: 0;
	font-family: var(--bs-font-sans-serif);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary.mobile-navbar {
    display: none;
}

section.about_delivery_details {
	background-color: #f9d1d1;
	padding: 10px 0;
	margin-bottom: 10px;
}

section.about_delivery_details .delivery_flex {
	display: flex;
	align-items: center;
}

section.about_delivery_details .delivery_flex p {
	padding-right: 20px;
	margin-right: 20px;
	font-size: 11px;
	border-right: 1px solid #000000;
	margin-bottom: 0;
	text-transform: capitalize;
}

.container_EXT {
	padding: 0px 20px 0px 20px;
}

.header_logo.desktop_logo a img {
	width: 100%;
}

.dropdown_Express_mobile {
	display: none;
}

ul.brand-categoris-blog {
	display: flex;
	justify-content: space-between;
}

ul.brand-categoris-blog li {
	list-style: none;
	font-weight: 500;
	font-style: italic;
}

.top {
	margin-top: 30px;
}

.container_lpd {
	margin: 0 auto;
	position: relative;
	width: 250px;
	height: 250px;
	margin-top: -40px;
}

.ghost {
	width: 50%;
	height: 53%;
	left: 25%;
	top: 10%;
	position: absolute;
	border-radius: 50% 50% 0 0;
	background: white;
	border: 1px solid gray;
	border-bottom: none;
	animation: float 2s ease-out infinite;
}

.ghost-copy {
	width: 50%;
	height: 53%;
	left: 25%;
	top: 10%;
	position: absolute;
	border-radius: 50% 50% 0 0;
	background: white;
	border: 1px solid gray;
	border-bottom: none;
	animation: float 2s ease-out infinite;
	z-index: 0;
}

.face {
	position: absolute;
	width: 100%;
	height: 60%;
	top: 20%;
}

.eye,
.eye-right {
	position: absolute;
	background: dark;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	top: 40%;
}

.eye {
	left: 25%;
}

.eye-right {
	right: 25%;
}

.mouth {
	position: absolute;
	top: 50%;
	left: 45%;
	width: 10px;
	height: 10px;
	border: 3px solid;
	border-radius: 50%;
	border-color: transparent dark dark transparent;
	transform: rotate(45deg);
}

.one,
.two,
.three,
.four {
	position: absolute;
	background: white;
	top: 85%;
	width: 25%;
	height: 23%;
	border: 1px solid gray;
	z-index: 0;
}

.one {
	border-radius: 0 0 100% 30%;
	left: -1px;
}

.two {
	left: 23%;
	border-radius: 0 0 50% 50%;
}

.three {
	left: 50%;
	border-radius: 0 0 50% 50%;
}

.four {
	left: 74.5%;
	border-radius: 0 0 30% 100%;
}

.shadow {
	position: absolute;
	width: 30%;
	height: 7%;
	background: gray;
	left: 35%;
	top: 80%;
	border-radius: 50%;
	animation: scale 2s infinite;
}

.dropbtn_Express {
	background-color: #f9d1d1;
	color: #000;
	font-size: 16px;
	border: none;
	padding: 5px 30px 5px 30px;
	border-radius: 6px 6px 3px 3px;
}

ul.brand-categoris-blog li a {
	text-decoration: none;
	color: #000;
}

.dropbtn_Express:hover,
.dropbtn_Express:focus {
	background-color: #f9d1d1;
}


.dropdown_Express {
	position: relative;
	display: inline-block;
}

.dropdown-content_Express {
	display: none;
	position: absolute;
	background-color: #f9d1d1;
	min-width: 100%;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.headericon a i {
	color: #e7126e;
	font-size: 21px;
}

section.prodduct-catergry {
	display: flex;
	justify-content: space-evenly;
	padding: 10px 30px;
}

section.prodduct-catergry a {
	font-weight: 700;
	font-size: 13px;
	color: #000;
	text-decoration: none;
}

section.prodduct-catergry a:hover {
	color: #fccece;
	cursor: not-allowed;
}

section.border_line_header {
	padding-top: 10px;
	border-bottom: 1px solid gainsboro;
}

.dropdown-content_Express a {
	color: black;
	padding: 6px 9px;
	text-decoration: none;
	display: block;
}

.dropdown-content_Express a:hover {
	color: white;
}

.dropdown_Express a:hover {
	background-color: blue;
}

.show_Express {
	display: block;
}

/* searchbar */


input.form-control.me-2.search_cart:focus {
	color: #212529;
	background-color: #fff !important;
	border-color: #e7126e !important;
	outline: 0;
	box-shadow: 0 0 0 .0rem #e7126e !important;
}

.headericon {
	justify-content: space-around;
	margin: auto;
	display: flex;
	padding: 10px 27px;
}

/* searchbar */

/* silder css */
button.carousel-control-next {
	display: none;
}

button.carousel-control-prev {
	display: none;
}

/* slider css */


/* must-see-offer */


.Must-See-Offers {
	text-align: center;
	padding: 10px 0px 0px 0px;
	color: #e7126e;
	font-size: 17px;
}
.Must-See-Offers h5 {
    padding: 20px 0px 20px 0px;
}
/* must-see-offer */

/* women cart owl */
.item.women_cart_owl img {
	width: 100%;
	border-radius: 5px;
}

.owl-dots button {
	display: none !important;
}

section.offer_card {
	padding: 0px 50px 20px 50px;
}

/* Buy__Me  */
section.Buy__Me {
    padding: 0px 50px 20px 50px;
    background: #f6f6f6;
}
section.But__Me{
	padding: 0px 0px 20px 0px;
}
/* Buy__Me */

/* top brand makeup  */
.top_img a img {
	width: 100%;
	padding-top: 22px;
}

section.top_makeup_brnd {
	padding: 0px 50px 20px 50px;
    background: #f6f6f6;
}

section.top_makeup_brnd h5 {
    color: #212529;
    padding-top: 10px;
    margin-bottom: -2px;
}
/* top brand makeup  */

@keyframes scale {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes float {
	50% {
		transform: translateY(15px);
	}
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	button.dropbtn_Express_mobile {
		padding: 0px 0px 0px 0px;
		display: block !important;
	}

	button.dropbtn_Express_mobile {
		display: none;
	}
.mobile-navbar {
    display: block !important;
}
.container_EXT {
    display: none;
}
section.prodduct-catergry {
    display: none;
}
/* section.prodduct-catergry {
display: none;
} */
/* .container_EXT {
    display: none;
} */
}

/* product_cart data  */

.product-price-detial {
	display: flex;
	justify-content: space-around;
	padding: 0px 50px;
	font-size: 13px;
	width: 300px;
}

/* Reset CSS */

/* Stile Prodotti */
.products-container {
	display: flex;
	gap: 20px;
	padding: 20px;
	overflow: auto;
}

.product-card {
	border: 1px solid #ddd;
	border-radius: 8px;
	/* padding: 15px; */
	/* transition: transform 0.3s ease; */
}

.product-card:hover {
	/* transform: translateY(-5px); */
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.product-image {
	width: 100%;
	border-radius: 4px;
}

.product-price {
	color: #27ae60;
	font-size: 1.4em;
	margin: 10px 0;
}

/* Stile Carrello */
.cart-button {
	border: none;
	display: flex;
	color: #e7126e;
	font-size: 23px;
	background: none;
}

span#cart-count {
	font-size: 16px;
	margin-left: -19px;
	color: deeppink;
	margin-top: 7px;
	background: white;
	border-radius: 100%;
	width: 100%;
	height: 14px;
	justify-content: center;
	align-items: center;
	display: flex;
}

.cart-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
}

.cart-content {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	max-width: 600px;
	width: 90%;
	max-height: 80vh;
	overflow-y: auto;
}

.cart-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}

.payment-methods {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 2px solid #eee;
}

.payment-icon {
	width: 50px;
	margin: 10px;
}

h3.product_price {
	font-size: 12px;
	padding-top: 20px;
	text-align: center;
}

.heart_add-btn {
	display: flex;
	justify-content: space-around;
	margin: auto;
	align-items: center;
}

button.add-to_btn {
	height: 40px;
	border-radius: 0px 0px 7px 0px;
	border: none;
	color: #fff;
    background: linear-gradient(45deg, #ff1493, #ff1493);
    color: #fff;
    width: 100%;
    border: none;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: 0.3s;
    box-shadow: 0 3px 10px rgba(212, 44, 44, 0.1);
    justify-content: center;
}
.add-to_cart_btnness {
    margin-left: 10px;
    font-size: 5px;
}
button.add-to_btn:hover {
	background: linear-gradient(45deg, #ff1493, #ff1493);
	transform: translateY(-2px);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}


.heart_btn_show {
	border: 1px solid deeppink;
	width: 21%;
	height: 40px;
	justify-content: center;
	display: flex;
	align-items: center;
	border-radius: 0px 0px 0px 7px;
}

p.product-price.dummy {
	text-decoration: line-through;
	color: gray;
}

p.product-price.main_price {
	color: deeppink;
}

section.Featured.Products {
    color: #212529;
    margin-bottom: 0px;
    padding: 20px 0px 0px 30px;
    background-color: #f6f6f6;
}

section.Featured.Products h5 {
	padding-left: 20px;
}

/* product_cart data  */

/* scroolbar css  */
/* width */
::-webkit-scrollbar {
	width: 20px;
}

/* Track */
::-webkit-scrollbar-corner {
	box-shadow: inset 0 0 5px red;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-corner {
	background: red;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-corner:hover {
	background: #b30000;
}

/* scrollbar css  */

/* hover css addtocart */

.figure_cart_hover {
	position: relative;
	width: 360px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    font-family: "Segoe UI", sans-serif;
    /* margin: 20px auto; */
    /* overflow: hidden; */
    cursor: pointer;
}

.figure_cart_hover img.Sirv.image-hover {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	object-fit: contain;
	opacity: 0;
	transition: opacity .2s;
}

.figure_cart_hover:hover img.Sirv.image-hover {
	opacity: 1;
}

/* hover css addto cart  */

/* loader css  */
/* .loading-gif {
            max-width: 40%;
            position: fixed;

        }

        .pre-loader {
            position: fixed;
            z-index: 100; 
            top: 0;
            left: 0;
            background: #fff;
            display: flex;   
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }

        .pre-loader.hidden {
            animation: fadeOut 6s; 
            animation-fill-mode: forwards;
        }

        @keyframes fadeOut {
            100% {
                opacity: 0;
                visibility: hidden;
            }
        } */
/* loader css  */

.prodcut_buy_card {
	width: 100%;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
	font-family: "Segoe UI", sans-serif;
	margin: 20px auto;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.prodcut_buy_badge {
	position: absolute;
	top: 10px;
	right: 10px;
	background: linear-gradient(to right,
			rgba(169, 3, 41, 1) 0%,
			rgba(196, 72, 72, 1) 44%,
			rgba(170, 34, 56, 1) 100%);
	color: #fff;
	padding: 5px 10px;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	z-index: 10;
}

.prodcut_buy_tilt {
	overflow: hidden;
	padding: 0px 12px;
}

.prodcut_buy_img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	transition: transform 0.5s;
}

.prodcut_buy_info {
	padding: 20px;
}

.prodcut_buy_cat {
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #71717a;
	margin-bottom: 5px;
}

.prodcut_buy_title {
	font-size: 12px;
	font-weight: 700;
	color: #18181b;
	margin: 0 0 10px;
	letter-spacing: -0.5px;
}

.prodcut_buy_desc {
	font-size: 13px;
	color: #52525b;
	line-height: 1.4;
	margin-bottom: 12px;
}

.prodcut_buy_prodcut_buy_feats {
	display: flex;
	gap: 6px;
	margin-bottom: 15px;
}

.prodcut_buy_feat {
	font-size: 8px;
	background: #f4f4f5;
	color: #71717a;
	padding: 3px 8px;
	border-radius: 10px;
	font-weight: 500;
}

.prodcut_buy_bottom {
	/* display: flex; */
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
}

.prodcut_buy_price {
	display: flex;
	justify-content: space-between;
}

.prodcut_buy_old {
	font-size: 13px;
	text-decoration: line-through;
	color: #a1a1aa;
	margin-bottom: 2px;
}

.prodcut_buy_new {
	font-size: 15px;
	font-weight: 700;
	color: #18181b;
	margin-bottom: 15px;
}

span.prodcut_buy_offer {
	font-size: 13px;
	font-weight: 700;
	color: darkgreen;
}

.prodcut_buy_btn {
    background: linear-gradient(45deg, #ff1493, #ff1493);
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: 0.3s;
    box-shadow: 0 3px 10px rgba(212, 44, 44, 0.1);
    justify-content: center;
}

.prodcut_buy_btn:hover {
	background: linear-gradient(45deg, #ff1493, #ff1493);
	transform: translateY(-2px);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.prodcut_buy_btn:before {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg,
			transparent,
			rgba(255, 255, 255, 0.1),
			transparent);
	transition: 0.5s;
}

.prodcut_buy_btn:hover:before {
	left: 100%;
}

.icon {
	transition: transform 0.3s;
}

.prodcut_buy_btn:hover .icon {
	transform: rotate(-10deg) scale(1.1);
}

.prodcut_buy_meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #f4f4f5;
	padding-top: 12px;
}

.prodcut_buy_rating {
	display: flex;
	align-items: center;
	gap: 2px;
}

.prodcut_buy_rcount {
	margin-left: 6px;
	font-size: 11px;
	color: #71717a;
}

.prodcut_buy_stock {
	font-size: 11px;
	font-weight: 600;
	color: #22c55e;
}

@media (max-width: 400px) {
	.prodcut_buy_card {
		width: 90%;
	}

	.prodcut_buy_title {
		font-size: 16px;
	}

	.prodcut_buy_img {
		height: 180px;
	}

	.prodcut_buy_bottom {
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
	}

	.prodcut_buy_price {
		margin-bottom: 5px;
	}

	.prodcut_buy_btn {
		width: 100%;
		justify-content: center;
	}
}
section.Featured.Productss {
    padding: 10px 0px 10px 50px;
}
section.offer_cards {
    padding: 10px 30px 10px 30px;
}


.golw_perfume_creame img {
    width: 100%;
}
/* footer css  */

.footer-section {
    background: #ff149361;
    position: relative;
    padding: 0px 50px;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #FFF;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #fff;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #fff;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget .ul_foot li {
  display: inline-block;
  /* float: left; */
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget .ul_foot li a:hover {
  color: #000;
}
.footer-widget .ul_foot li a {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #000;
    border: 1px solid #fff;
    color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ffa6d6;
    padding: 7px 24px;
    border: 1px solid #fff;
    top: 0;
}
.subscribe-form button i {
    color: #fff;
    font-size: 36px;
    transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
    color: #ffa6d6;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ffa6d6;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}


/* footer css  */

/* video_clip  */
section.video_clip {
    padding: 30px 50px 20px 50px;
}
/* video_clip */
/* Nourish */

section.Nourish {
    padding: 0px 50px 20px 50px;
    background: #f6f6f6;
}
section.Nourish h5 {
    padding: 20px 0px 20px 0px;
}
/* Nourish */

/* Enhance_Glow */
section.Enhance_Glow {
    padding: 0px 50px 20px 50px;
}
section.Enhance_Glow h5 {
    padding: 0px 0px 20px 0px;
}
/* Enhance_Glow */


/* Pride Of Every Kitchen */

.golw_perfume_creame img {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
}
section.Kitchen {
    padding: 0px 50px 20px 50px;
    background: #f6f6f6;
}
section.Kitchen h5 {
    padding: 20px 0px 20px 0px;
}
/* Pride Of Every Kitchen */